body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#080453a5, #041155a7), url(images/children.jpg);
    background-size: cover;
    background-position: center;
}

.top-banner-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-banner-content h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.top-banner-content p {
    font-size: 18px;
    color: white;
    line-height: 2;
    padding-bottom: 20px;
}

.button-main {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background-image: linear-gradient(#ee2a7b, #ee2a7cce);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
}

.second-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-content {
    text-align: center;
}

.section-content h1 {
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.section-content p {
    font-size: 18px;
    color: black;
    line-height: 2;
    padding-bottom: 5px;
}

.amount-item {
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
}

.second-amount {
    font-size: 30px;
    color: rgba(43, 37, 37, 0.584);
    display: flex;
    justify-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;
}

.amount-item {
    background-color: #c8c4c462;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
}

.amount-item.border {
    border: 4px solid #ee2a7b;
    color: #ee2a7b;
}

.other-amount-item p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.403);
    margin-bottom: 0;
}

hr {
    width: 50%;
    margin-top: 0;
    margin-bottom: 40px;
    border: 1px solid #c8c4c462;
}

.third-section {
    padding-top: 50px;
    padding-bottom: 80px;
}

.box-container {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.box-container-item {
    width: 24%;
    background-color: #F7F3E3;
    padding-left: 35px;
    padding-top: 50px;
    padding-right: 35px;
    padding-bottom: 50px;
    border-radius: 10px;
}

.box-container-item h4 {
    font-size: 20px;
    color: black;
}

.box-container-item p {
    font-size: 18px;
    color: black;
    line-height: 2;
}

.box-container-item.border {
    background-color: #F5DDDD;
    padding-left: 35px;
    padding-top: 50px;
    padding-right: 35px;
    padding-bottom: 50px;
    border-radius: 10px;
    border: 4px solid #ee2a7b;
    color: black;
}

.footer-section {
    text-align: center;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-section h2 {
    font-size: 25px;
    color: #ee2a7b;
}

.footer-section p {
    color: white;
    font-size: 19px;
    line-height: 2;
}